.sidenav {
    display: none;
    height: 100%;
    width: 450px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #f8f9fa;
    overflow-x: hidden;
    padding-top: 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}
