
@{
    ViewData["Title"] = "HistoryCreated";
}

<script>
    redirect = () => {
        window.location.replace("/");
    }
</script>

<div style="text-align:center">
    <br />
    <h1 class="display-4">Historia criada com sucesso</h1>
    <br />
    <h4>A sua história irá ser validada em breve</h4>
    <br />
    <br />
    <button type="button" class="btn btn-outline-secondary btn-large" onclick="redirect()">Voltar para a página inicial</button>
</div>