@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@inject Microsoft.Extensions.Options.IOptions<Microsoft.AspNetCore.Builder.RequestLocalizationOptions> locOptions

@{ 
    var linguagem = Context.Features.Get<Microsoft.AspNetCore.Localization.IRequestCultureFeature>();
    var listaLinguagens = locOptions.Value.SupportedUICultures.Select(x => new SelectListItem { Value = x.Name, Text = x.Name }).ToList();
}

<div>
    <form asp-action="GereLinguagens" asp-controller="Home" method="post">
        <select name="linguagem" asp-for="@linguagem.RequestCulture.UICulture.Name" asp-items="listaLinguagens"
                onchange="this.form.submit();">

        </select>

    </form>
</div>
