@model IEnumerable<LuizaAndaluz.Models.Local>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Luiza Andaluz</h1>
    <p>Uma religiosa católica e educadora</p>
</div>
<div id="mapPrincipal"></div>
<script>
    function initMap() {
        var options = {
            zoom: 2,
            center: { lat: 39.6019900, lng: -8.4092400 }
        }

        var map = new google.maps.Map(document.getElementById('mapPrincipal'), options);

        var locais = @Html.Raw(Json.Serialize(@ViewBag.locais));

        for (var i = 0; i < locais.length; i++) {
            new google.maps.Marker({
                position: { lat: parseFloat(locais[i].latitude), lng: parseFloat(locais[i].longitude) }, map, title: (i + ""),
            });
        }
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCzF3-at94AexQQTqYBX26DsWSvQ2h0RF0&callback=initMap">
</script>
<br />
<div class="row" style="justify-content: center">
@for (int i = 0; i < 9; i++){
    <div class="card" style="width: 18rem; margin: 1%">
        <img src="/Ficheiros/exemplo.jfif" class="card-img-top" alt="/Ficheiros/exemplo.jfif">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
}
</div>
